# Bloquear toda la configuración del IDE
.idea/
*.iml

# Bloquear Caché y Build
.gradle/
/local.properties
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_

# Archivos de sistema
.DS_Store
Thumbs.db